body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(3, 112, 112);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.display{
    display: flex;
    height: 50px;
    padding-right: 12px;
    justify-content: flex-end;
    align-items: center;
    border: solid white 1px;
    font-size: 30px;
    background-color: aliceblue;
}

.container{
    width: 160px;
    
    display: flex;
    flex-wrap: wrap;
}

.digit, .clear,
.operator, .equal{
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 0;
    margin: 0;
    border: rgb(253, 253, 253) solid 1px;
    border-radius: 0;
}

.digit:hover, .clear:hover,
.operator:hover, .equal:hover{
    background-color: antiquewhite;
}

.operators{
    display: flex;
    gap: 4px;
    flex-direction: column;
}